h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  flex-direction: column;
  text-align: center;
}

#question {
  margin-bottom: 20px;
}

#nextBtn {
  margin-bottom: 20px;
  padding: 40px 60px;
  background-color: #da6b38;
  font-size: 25px;
}

.option {
  display: inline-block;
  margin-right: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-bottom: 60px;
}

.correct {
  border: 2px solid green;
}

.incorrect {
  border: 2px solid red;
}

.back-button-container {
  text-align: center;
  margin-top: 150px;
}

.back-button {
  display: inline-block;
  padding: 40px 60px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  font-size: 25px
}

.back-button:hover {
  background-color: #45a049;
}